:root {
    --darkest-night: hsl(270, 6%, 6%);
    --darker-night: hsl(270, 10%, 20%);
    --dark-night: hsl(270, 15%, 30%);
    --lightest-day: hsl(226, 0%, 91%);
    --lighter-day: hsl(226, 70%, 86%);
    --light-day: hsl(226, 90%, 72%);
    --green-leaf: hsl(120, 70%, 86%);
    --green-bull: hsl(120, 90%, 72%);
    --red-leaf: hsl(0, 70%, 86%);
    --red-bull: hsl(0, 90%, 72%);
    --just-white: hsl(0, 2%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--darkest-night);
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, hsl(0, 60%, 78%) 0%, hsl(160, 0%, 75%) 19%, hsl(192, 66%, 61%) 42%, hsl(261, 39%, 74%) 79%, hsl(192, 53%, 63%) 100%);
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 0.6rem;
}

section {
    padding: 1.2rem;
    background-color: var(--lightest-day);
    border-radius: 0.6rem;
}

section {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
    color: var(--darker-night);
    text-align: center;
}

h3 {
    color: var(--darker-night);
}

p {
    color: var(--dark-night);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--dark-night);
    margin: 1em 0;
    padding: 0;
}

input,
button {
    font-size: 1rem;
    border: 1px solid var(--darkest-night);
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.3rem;
}

button {
    color: var(--darkest-night);
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.6rem;
    min-width: 8rem;
    width: fit-content;
    display: block;
    height: fit-content;
}

button:focus {
    border: 2px solid var(--darkest-night);
}

/* head bar */
.head_bar {
    padding: 0.8rem;
    text-align: center;
}
.head_bar__title {
    color: var(--just-white);
    text-transform: uppercase;
}

/* inputs */
.input_section {
    display: flex;
    flex-direction: column;
}
.input_group label {
    display: inline-block;
    margin-bottom: 0.3rem;
}
.input_group,
.input_inline {
    margin-bottom: 1rem;
}
.input_section .input_inline {
    display: flex;
    column-gap: 1rem;
}
.input_group > input[type="checkbox"] {
    width: fit-content;
}

/* input sections */
.input_section {
    text-align: center;
}

/* book section */
.book_item {
    border-radius: 0.3rem;
    padding-block: 0.6rem;
}
.book_item:hover {
    padding-inline: 0.6rem;
    background-color: var(--just-white);
    transition: 0.3s ease-in-out;
    transform: scale(1.08);
}
.book_info {
    width: 100%;
    margin-bottom: 1rem;
}

/* buttons */
.button_container {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    column-gap: 0.6rem;
}
.blue_button {
    background-color: var(--lighter-day);
}
.blue_button:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--light-day);
}
.green_button {
    background-color: var(--green-leaf);
}
.green_button:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--green-bull);
}
.red_button {
    background-color: var(--red-leaf);
}
.red_button:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--red-bull);
}


@media (min-width: 46rem) {
    /* inputs */
    .input_group {
        display: grid;
        grid-template-columns: 18% 82%;
    }
    .input_group label {
        display: flex;
        align-self: center;
        margin-bottom: 0;
    }

    /* book section */
    .book_item {
        display: grid;
        grid-template-columns: 82% 18%;  
    }
    .book_info {
        padding-right: 1rem;
        margin-bottom: 0;
    }
    .book_item .button_container {
        flex-direction: column;
        row-gap: 0.6rem;
    }
}